p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

ol,
ul {
  padding-left: 2ch;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

li {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-left: 0.25em;
}

li > ol,
li > ul {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

ol {
  list-style-type: decimal;
}

li > ol {
  list-style-type: lower-alpha;
}

ul {
  list-style-type: disc;
}

ol li::marker {
  font-weight: 600;
  color: gray; /* use --content-primary with opacity 0.24 */
}

ul li::marker {
  color: gray; /* use --content-primary with opacity 0.24 */
}
